/* 6つのp要素に適用するスタイルを宣言 */
.back-blue {
    background-color: blue;
}

.white{
    color: white;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

/* 6つのli要素に適用するスタイルを宣言 */

.blue {
    color: blue;

}
.back-gray {
    background-color: gray;

}
.back-brown {
    background-color: brown;
}

.back-green {
    background-color: green;
}

.font-16 {
    font-size: 16px;
}

.font-12 {
    font-size: 12px;
}